.tweets {

}
.password-info {
  margin-left: 20px;
}
.send-tweet {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.tweet {
  border-style: solid;
  margin: 5px;
  min-width: 500px;
  min-height: 200px;
  padding-left: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  max-width: 50px;
  vertical-align: middle;
  padding-right: 20px;
}

.reply-tweet {
  border-style: solid;
  max-width: 500px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

.reply {
  text-align: right;
  padding-right: 20px;
  margin-top: 20px;
  a {
    cursor: pointer;
    color: cadetblue;
    margin-left: 40px;
  }
}

.replies {
  width: 100%
}


.new-tweet {
  border-style: solid;
  input {

  }
}

textarea {
  width: 500px;
  height: 100px;
}
