.tweet {
  border-style: solid;
  margin: 5px;
  min-width: 500px;
  min-height: 200px;
  padding-left: 20px;
  max-width: 500px;
  float: left;

}

.avatar {
  max-width: 50px;
  vertical-align: middle;
  padding-right: 20px;
}

.reply-tweet {
  border-style: solid;
}

.reply {
  float: right;
  padding-right: 20px;
  a {
    cursor: pointer;
    color: cadetblue;
  }
}

.view-conversation {
  cursor: pointer;
}

.new-tweet {
  border-style: solid;
  input {

  }
}

#tweet-container {

}
