.tweet {
  border-style: solid;
  margin: 5px;
  min-width: 500px;
  min-height: 200px;
  padding-left: 20px;
  max-width: 500px;
  float: left;
  img {
    max-width: 50px;
    vertical-align: middle;
    padding-right: 20px;
  }
}

.reply {
  float: right;
  padding-right: 20px;
  a {
    cursor: pointer;
    color: cadetblue;
  }
}

.new-tweet {
  border-style: solid;
  input {

  }
}

#tweet-container {
  
}
